* {
	margin:0;
	padding:0;
}

html, body {
	top:0;
}

html {
	height:100%;
}

body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.46429;
    color: #888888;
    height:100%;
    overflow-x:hidden;
}

::-webkit-scrollbar-track {
  margin:10px;
  border-radius: 10px;
  background-color: #d3d3d3;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #b4b4b4;
}

::-webkit-input-placeholder {
  /*text-transform:capitalize;*/
  font-style:italic;
  color:#b4b4b4;
}

h1, h2, h3, h4, h5 {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight:700;
	margin:0;
}

a:visited, a:focus, a:hover {
	color:#ec297b;
	cursor:pointer;
}

.pink {
	color:#ec297b;
}

.white {
	color:#FFFFFF !important;
}

.blue {
	color:#09b9f7;	
}

.red {
	color:#eb1716;
}

h1.pink, h2.pink, h3.pink, h4.pink, h5.pink {
	color:#ec297b;
}

h1.white, h2.white, h3.white, h4.white, h5.white {
	color:#FFFFFF;
}

.white-bg {
	color:#808080;
}

.white-bg ul li {
	color:#652d8f;
}

.white-bg ul li b:after {

}

.white-bg ul li span {
	color:#808080;
}

.purple-bg {
	background:#652d8f;
	padding:30px 60px;
}

.mb-none {
  margin-bottom: 0;
}
.mb-xs {
  margin-bottom: 5px;
}
.mb-sm {
  margin-bottom: 10px;
}
.mb {
  margin-bottom: 20px;
}
.mb-md {
  margin-bottom: 30px;
}
.mb-lg {
  margin-bottom: 40px;
}
.mb-xl {
  margin-bottom: 60px;
}

input:not([type="checkbox"]) {
	border:none;
	margin:10px auto;
	display:block;
	padding:7px 5px;
	box-sizing:border-box;
	width:100%;
	font-size:0.9em;
	color:#6F6F6F;
}

input.borders {
	border:solid 1px #aaaaaa;
	height:25px;
	width:200px;
	margin:0;
	display:inline-block;
}

select {
	border:none;
	border-radius:5px;
	margin:10px auto;
	display:block;
	padding:7px 5px;
	box-sizing:border-box;
	width:100%;
	font-size:0.9em;
	color:#6F6F6F;
}

.inline {
	padding:3px 5px;
	display:inline-block;
	margin:0;
}

.select2-container--default .select2-selection--multiple {
	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 0 5px 5px 0;
	font-size: 0.9em;
	position:relative;
	bottom:1px;
	width:calc(100% - 50px);
}

.form-group label {
	font-weight:300;
	color:#ec297b;
}

textarea {
	border:solid 1px #aaaaaa;
	margin:0;
}

button {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight:700;
	padding:7px 15px;
	height:40px;
	border:none;
	text-transform:uppercase;
}

a.button {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight:700;
	padding:7px 15px;
	height:40px;
	border:none;
	text-transform:uppercase;
	text-decoration:none;
}

a.button:hover {
	text-decoration:none;
}

button.lil, a.button.lil {
	padding:5px 10px;
	font-size:0.8em;
}

button.action, a.button.action {
	background:#ffc501;
	color:#2d3c4d;
}

button.white, a.button.white {
	color:#ec297b !important;
	background:#FFFFFF;
}

button.blue, a.button.blue {
	background:#033d58;
	color:#FFFFFF;
}

button.light-blue, a.button.light-blue {
	background:#08a4dc;
	color:#FFFFFF;
}

hr {
	border-color:#E2E2E2;
}

.modal-dialog {
	border-radius:5px !important;
}

.header {
	text-align:left;
	padding:0px 15px;
	background:#033D58;
	color:#FFF;
	position:fixed;
	top:50px;
	left:0;
	z-index:10000;
	font-size:1em;
	vertical-align:middle;
	height: 60px;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	line-height:60px;
	z-index:999;
}

.header.lang {
	color:#22a3d0;
	height:50px;
	line-height:50px;
	top:0;
	background:#f2f2f2;
}

.header.lang select {
	display:inline-block !important;
}

.header.search {
	text-align:center;
	background:#80d5e0;
	height:50px;
	line-height:normal;
	top:110px;
	padding-top:4px;
}

.header h3 {
	margin:0;
	line-height:60px;
	display:inline-block;
}

.header .blue {
	color:#09b9f7;	
}

.header .menu {
}

.header .menu li {
	list-style-type:none;
	display:inline-block;
	margin:0 15px;
}

.header .menu li a {
	color:#FFFFFF !important;
}

.header .menu li a:hover {
	text-decoration:none;
	color:#22a3d0 !important;
}

.header .menu li a #notifications-btn {
	color:#FFFFFF !important;
	font-size:1.5em;
}

.header-button {
	background:#22a3d0;
	padding:5px 15px;
	color:#FFFFFF;
	border:solid 1px #22a3d0;
}

.header-button.outline {
	background:none;
	border:solid 1px white;
}

.notifications-btn-cont {
	position:relative;
}

.notifications-btn-cont .notifications-count {
	width:20px;
	height:20px;
	line-height:20px;
	background:red;
	color:#FFF;
	border-radius:50%;
	position:absolute;
	top:5px;
	right:-10px;
	text-align:center;
	font-size:0.5em;
	font-family:'Open Sans';
}

#notifications {
	width:300px;
	padding:15px;
	position:absolute;
	top:60px;
	right:10px;
	background:white;
	box-shadow:0 0 5px rgba(0,0,0,0.3);
	border-radius:0 0 5px 5px;
	animation-duration:0.3s;
}

#notifications ul {
	list-style-type:none;
	text-align:left;
	margin:0;
	padding:0;
	max-height:300px;
	overflow-y:auto;
}

#notifications ul li {
	padding-top:10px;
	height:80px;
	border-bottom:solid 1px #e6e6e6;
}

#notifications ul li:hover {
	cursor:pointer;
	background:#f0f0f0;
}

#notifications ul li.active {
	color:#86def2;
}

#notifications ul li i {
	font-size:0.8em;
	color:#b4b4b4;
}

#notifications ul li:last-of-type {
	border:none;
}

.header .logo {
	color:#FFFFFF;
}

.header .logo:hover {
	text-decoration:none;
}

.header #idioma {
	cursor:pointer;
	background:none;
	border:solid 1px #22a3d0;
	color:#22a3d0;
}

.header #idioma option {
	color:#22a3d0;
}

[data-element="toggleable"] {
	display:none;
}

[data-element="toggleable"].active {
	display:block;
	z-index:9999999;
}

[data-element="toggleable"] .close {
	position:absolute;
	top:15px;
	right:15px;
}

#login, #menu {
	width:200px;
	padding:15px;
	position:fixed;
	top:60px;
	right:10px;
	background:white;
	box-shadow:0 0 5px rgba(0,0,0,0.3);
	border-radius:0 0 5px 5px;
	animation-duration:0.3s;
}

#main-content {
	padding-top:150px;
	background:url(../img/index-bg.JPG);
	background-size:cover;
	color:#FFF;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
	min-height:calc(100vh - 80px);
}

.img-placeholder {
	background:#d3d3d3;
	width:100%;
	height:350px;
	display:block;
}

/*====*/

.pagination {
	width:100%;
}

.page-btn {
	background:#08a4dc;
	padding:5px 10px;
	color:#FFFFFF;
}

.page-btn:hover {
	cursor:pointer;
	opacity:.9;
}

.pagination input {
	display:inline-block !important;
	width:30px;
	margin:0;
}

/*====*/

.logo-main {
	display:block;
	margin:0 auto;
	margin-bottom:20px;
	width:120px;
}

.copy {
	text-align:center;
	margin-bottom:40px;
}

.search-box {
	padding:15px 30px;
	background:rgba(0,0,0,0.3);
	display:inline-block;
	text-align:center;
	margin:0 auto;
	margin-bottom:30px;
}

.search-group {
	display:inline-block;
	background:white;
	height:40px;
	color:#808080;
	padding-left:10px;
}

.search-box select {
	margin:0;
	height:40px;
}

.search-box .select2-container--default .select2-selection--single {
	background-color: #fff;
	border: 1px solid #aaa;
	font-size: 0.9em;
	border:none;
	margin:0 !important;
	position:relative;
}

.search-box .select2-container .select2-selection--single {
	height:40px;
	border:none;
}

.search-box .select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height:40px;
}

.search-words {
	margin:0 !important;
	width:250px !important;
	display:inline-block !important;
	height:40px !important;
}

.search-city {
	width:200px;
	display:inline-block;
}

.search-box button {
	height:40px;
}

.categories {
	margin-bottom:80px;
	text-align:center;
}

.category-container {
	display:inline-block;
	text-align:center;
	vertical-align:middle;
	margin:0 10px;
}

.category-container img {
	vertical-align:middle;
	height:50px;
}

.category-container .text {
	position:relative;
	display: inline-block;
	width:80px;
	padding:5px;
	height:50px;
	vertical-align:middle;
	border:solid 1px white;
}

.category-container:hover {
	background:#FFFFFF;
	cursor:pointer;
	color:#22a3d0;
}

/*====*/

#side-menu {
	margin-top:160px;
	min-height:calc(100vh - 160px);
	max-height:calc(100vh - 160px);
	background:#FFFFFF;
	box-shadow:0 0 7px rgba(0,0,0,0.3);
	z-index:100;
	overflow-y:auto;
}

.side-header {
	padding:15px;
	background:#FFFFFF;
}

.search-box.mini {
	padding:0;
	background:none;
	display:inline-block;
	text-align:center;
	margin-bottom:15px;
}

.search-box.mini .search-words {
	width:150px;
}

.search-box.mini .search-city {
	width:150px;
}

.side-filters {
	padding:5px 15px;
}

.side-filters span {
	display:inline-block;
	background:#d3d3d3;
	padding:3px 5px;
	margin-right:5px;
	border-radius:3px;
	margin-bottom:5px;
}

.side-filters span.active {
	background:#2c3c4c;
	color:#FFF;
}

.side-header .pagination-own {
	background:#FFFFFF;
	margin-bottom:0;
	border-radius:0;
	display:block;
	text-align:center;
	padding:10px 0;
	box-shadow:0 3px 5px rgba(0,0,0,.1)
}

.side-header .pagination-own div {
	margin:0 3px;
	width:25px;
	height:25px;
	display:inline-block;
	text-align:center;
	line-height:25px;
	border-radius:50%;
}

.side-header .pagination-own div.active {
	background:#09b9f7;
	color:#FFF;
}

.side-header .pagination-own div.active:hover {
	background:#09b9f7;
}

.side-header .pagination-own div:hover {
	background:#f0f0f0;
	cursor:pointer;
}

.pagination-own div a {
	color:#808080;
}

.pagination-own div.active a {
	color:#FFFFFF;
}

.side-results {
	padding-top:15px;
}

.side-results .result {
	padding:15px 15px;
	border-bottom:solid 1px #f3f3f3;
	position:relative;
}

.side-results .result:hover {
	background:#f4f9fc;
}

.side-results .result:hover:before {
	content:'';
	display:block;
	height:100%;
	width:5px;
	background:#4285f4;
	position:absolute;
	top:0;
	left:0;
}

.result .result-image {
	width:250px;
	height:130px;
	background:#d3d3d3;
	display: inline-block;
	vertical-align:middle;
}

.result .result-info {
	display:inline-block;
	vertical-align:top;
	padding:5px 15px;
	width:calc(100% - 254px);
}

.result .result-info .result-name {
	color:#0a3c5a;
	margin-bottom:5px;
	display:inline-block;
}

.result .result-info .icon-map-marker {
	font-size:1.2em;
}

.result .result-info .icon-map-marker:hover {
	cursor:pointer;
	color:#ec297b;
}

.result .result-info .result-data ul {
	list-style-type:none;
}

.result .result-info .result-data ul li {
	margin-bottom:5px;
}

.result .result-info .result-data .user-country {
	width:200px;
	height:25px !important;
}

.result .result-info .result-categories span {
	display:inline-block;
	font-size:0.8em;
	background:#86def2;
	color:#FFF;
	padding:3px 5px;
	margin-right:5px;
	border-radius:3px;
	margin-bottom:5px;
}

.result .result-info .result-score img {
	height:15px;
	vertical-align:baseline;
}

.result .result-info .result-comments {
	color:#22a3d0;
	font-weight:bold;
}

.result-info .result-phone {
	color:#00b551;
}

.result-info .result-address {
	color:#0e3baa;
}

.result .result-info .result-description {
	display:-webkit-box;
	text-overflow:ellipsis;
	overflow:hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3; /* number of lines to show */
	line-height: 16px;        /* fallback */
   	max-height: 48px;       /* fallback */
}

.result .result-content {
	margin-top:10px;
}

.result .result-content a:not(:last-child):after {
	content:', ';
}

.result.route .result-image {
	width:280px;
	height:280px;
}

.result.route .result-info {
	padding:15px;
	width:calc(100% - 284px);
}

.carousel-indicators {
	position:initial;
	display:inline-block;
	width:auto;
	left:0;
	margin:0;
}

.carousel-indicators li {
	display:inline-block;
    width: 10px;
    height:10px;
    margin:1px;
    border:1px solid #033D58;
    border-radius:10px;
    cursor:pointer;
}

.carousel-indicators li.active {
	background:#033D58;
}

ul.municipios {
	list-style-type:none;
	max-width:340px;
}

.full ul.municipios {
	max-width:100%;
}

ul.municipios li {
	padding:5px 15px;
	width:150px;
	background:#F5F5F5;
	color:#4b567f;
	font-weight:bold;
	display:inline-block;
	border-left:4px solid #3fae2a;
	margin-bottom:10px;
	margin-right:10px;
	box-sizing:border-box;
}

ul.municipios li:hover {
	cursor:pointer;
	opacity:.9;
	border-left:5px solid #3FAE2A;
}

#map {
	margin-top:60px;
	height:calc(100vh - 60px);
	padding-left:0px;
}

.button-results {
	font-size:2em;
	background:#FFFFFF;
	padding:15px;
	border-radius:0 5px 5px 0;
	position:absolute;
	top:90px;
	left:0;
	box-shadow:0 0 5px rgba(0,0,0,0.3);
	cursor:pointer;
}

/*====*/

.side-bar {
	margin-top:15px;
}

.side-block {
	padding:15px !important;
	background:white;
	margin-bottom:15px;
}

.search-box.side {
	padding:0;
	display:inline-block;
	text-align:center;
	margin-bottom:15px;
}

.search-box.side .search-group {
	border:1px solid #B4B4B4;
	margin-bottom:10px;
	width:100%;
}

.search-box.side .search-group input, .search-box.side .search-group select {
	height:39px !important;
	width:calc(100% - 20px) !important;
	border-bottom:solid 1px #B4B4B4;
}

.search-box.side button {
	width:100%;
}

.mini-header {
	margin-top:10px;
	height:30px;
	line-height:30px;
	background:#033D58;
	color:#FFFFFF;
}

.mini-header h4 {
	line-height:30px;
}

.downloads {
	padding:15px 0;
	background:url('../img/index-bg.JPG');
	background-repeat: no-repeat;
	background-size:100%;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
	color:#FFFFFF;
}

.downloads div {
	border:solid 1px #FFFFFF;
	padding:5px 0;
	text-align:center;
}

.downloads div img {
	margin-top:5px;
	height:70px;
}

.downloads div:hover {
	cursor:pointer;
	background:#FFFFFF;
	color:#09b9f7;
}

.side-result .result-image {
	width:100%;
	height:100px;
	margin:5px 0;
	background:#B4B4B4;
}

.side-result .result-name {
	color:#0a3c5a;
}

.side-result .result-score img {
	margin:5px 0;
	height:15px;
}

.side-result .result-comments {
	color:#22a3d0;
}

.side-result button {
	width:100%;
}

.side-result button.lil {
	width:auto;
}

.full-result .result-image {
	width:100%;
	height:100px;
	margin:5px 0;
	background:#B4B4B4;
}

.full-result .result-name {
	color:#0a3c5a;
}

.full-result .result-score img {
	margin:5px 0;
	height:15px;
}

.full-result .result-comments {
	color:#22a3d0;
}

.full-result button {
	width:100%;
}

.full-result button.lil {
	width:auto;
}

.full .full-result .result-image {
	width:calc(100% + 30px);
	position:relative;
	right:15px;
	height:300px;
}

.full .full-result .result-info {
	padding-top:15px;
}

.full .full-result .result-info .result-description {
	padding-right:50px !important;
	border-right:1px solid #B4B4B4;
}

.full .full-result .result-info .result-data {
	padding-left:50px;
}

.full .full-result .result-info .result-data ul {
	list-style-type:none;
}

.main-bar {
	padding-top:15px;
}

.main-bar.full {
	padding-top:0;
}

.main-bar .box {
	padding:15px;
	background:#FFFFFF;
	margin-bottom:15px;
}

.main-bar .box .box-header {
	background:#80d5e0;
	height:40px;
	line-height:40px;
	color:#0a3c5a;
	padding:0 15px;
	font-size:1.3em;
}

.main-bar .box.route {
	padding:0;
}

.comment .flag {
	width:30px;
	height:30px;
	border-radius:50%;
	border:solid 1px #B4B4B4;
	display:inline-block;
	vertical-align:middle;
	margin-right:10px;
}

.comment input {
	height:30px;
	width:calc(100% - 130px);
	margin-right:5px;
}

.comment button {
	height:30px;
	box-sizing:border-box;
}

.comment-box {
	padding:15px;
	border-bottom:solid 1px #EAEAEA;
}

.comment .comment-info {
	display:inline-block;
	vertical-align:middle;
	color:#304050;
}

.comment .comment-info .comment-name {
	display:block;
	font-weight:bold;
}

.comment .comment-info .comment-country {
	font-size:.9em;
	position:relative;
	top:-5px;
}

/*====*/

.city-info {
	list-style-type:none;
}

.opinion .opinion-image {
	width:100px;
	height:100px;
	border-radius:50%;
	background:#d3d3d3;
	display: inline-block;
}

.opinion .opinion-info {
	display:inline-block;
	vertical-align:top;
	padding:5px 15px;
	width:calc(100% - 104px);
}

.opinion .opinion-info .opinion-name {
	color:#2c3c4c;
	margin-bottom:5px;
}

/*====*/

#main-container {
	margin-top:110px;
	background:#eaeaea;
	min-height:calc(100vh - 110px);
}

.banner {
	width:100%;
	height:200px;
	background-size:cover;
	color:#FFF;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.7);
	margin-bottom:30px;
}

.place-info {

}

.place-info .place-name {
	color:#2c3c4c;
	margin-bottom:15px;
}

.place-info .place-categories span {
	display:inline-block;
	font-size:0.8em;
	background:#86def2;
	color:#FFF;
	padding:3px 5px;
	margin-right:5px;
	border-radius:3px;
	margin-bottom:5px;
}

.place-info .place-score span[class^="icon-"].hover {
	color:#ffc501;
}

.place-info .place-score span[class^="icon-"].selected {
	color:#ffc501;
}

.place-info .place-score .icon-star-empty {
	color:#303030;
}

/*.place-info .place-score .icon-star {
	color:#ffc501;
}*/

.place-photo {
	width:150px;
	height:150px;
	margin:5px;
	display:inline-block;
	background:#d3d3d3;
	float:right;
}

.place-audio {
	margin-top:15px;
	display:block;
}

/*====*/

.menu-head {
	padding:15px;
	background: linear-gradient(360deg, #9d288e, #d72786);
	height:90px;
}

.login-form {
	text-align:center;
	background:#D3D3D3;
	border-radius:5px;
	padding:15px;
	box-sizing:border-box;
	position:relative;
	bottom:25px;
	border:solid 3px white;
}

.login-form h4 {
	color:#ec297b;
}

.login-form hr {
	border-color:#B4B4B4;
}

.login-form .forgot {
	color:#ec297b;
	font-size:0.9em;
	font-style:italic;
}

.opinion-form {
	margin-bottom:30px;
	padding-right:20px;
}

.opinion-form textarea {
	resize:vertical;
	width:100%;
	height:60px;
	min-height:60px;
	padding:5px 10px;
}

.menu-content {
	text-align:right;
	list-style-type:none;
	padding:0 15px;
	color:#652d8f;
}

.menu-content li {
	height:6.5vh;
	display:block;
	font-weight:400;
	position:relative;
	line-height:6.5vh;
}

.menu-content li:hover {
	cursor:pointer;
	color:#ec297b;
}

.menu-content li.active {
	color:#ec297b;
}

.menu-content li.active:after {
	content:'';
	width: 0; 
	height: 0; 
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent; 
	border-right:7px solid #ec297b;
	position:absolute;
	top:2.3vh;
	right:-15px;
	display:block;
}

.menu-content li.student {
	font-weight:700;
}

.menu-content hr {
	border-color:#d3d3d3;
	margin:5px 0 15px 0;
}

.menu-content .social {
	font-size:1.5em;
}

.menu-content .social a {
	color:inherit;
}

.menu-content .social a:hover, .menu-content .social a:focus {
	text-decoration:none;
}

.menu-content .social i {
	margin:0 5px;
}

.menu-content .social i:hover {
	cursor:pointer;
	color:#ec297b;
}

.sub-menu {
	display:none;
	position:fixed;
	height:100vh;
	background:#FFFFFF;
	color:#000000;
	top:0;
	z-index:1;
	box-shadow:0 3px 3px rgba(0,0,0,0.3);
	list-style-type:none;
	animation-duration: 0.3s;
}

.sub-menu.active {
	display:block;
}

.sub-menu li {
	height:20%;
	display:block;
	font-weight:400;
	position:relative;
	vertical-align:middle;
	text-align:center;
	display:table;
	border-bottom:solid 1px #efefef;
	cursor:pointer;
	width:100%;
}

.sub-menu.student li {
	height:11.1111111%;
}

.sub-menu li a:hover, .sub-menu li a:focus {
	text-decoration:none;
}

.sub-menu li.active .title {
	color:#ec297b;
}

.sub-menu li.active:after {
	content:'';
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-left:10px solid #FFFFFF;
	position:absolute;
	top:42%;
	right:-25px;
	display:block;
}

.sub-menu li:hover .title {
	color:#ec297b;
	cursor:pointer;
}

.sub-menu li .wrapper {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}

.sub-menu li span[class^="icon-"] {
	font-size:3em;
	display:block;
	color:#ec297b;
	margin-bottom:10px;
}

.sub-menu.student li span[class^="icon-"] {
	font-size:2em;
	margin-bottom:5px;
}

.sub-menu li .title {
	font-size:0.8em;
	color:#adadad;
	line-height:1.2;
	hyphens:auto;
}

.sub-menu li .title .tag {
	display:block;
	color:#FFF;
	background:#ec297b;
	font-size:0.9em;
}

.pic-profile {
	border-radius:50%;
	background:#d3d3d3;
	border:solid 3px white;
}

.pic-profile.big {
	width:180px;
	height:180px;
	display:block;
	margin:0 auto;
}

.pic-profile.menu {
	min-height:140px;
	max-height:140px;
	text-align:center;
}

.pic-container {
	margin:0 auto;
	position:relative;
	bottom:30px;
	text-align: center;
}

.pic-container:before {
	content:'';
	position:absolute;
	border-radius:50%;
	width:130px;
	height:130px;
	top:5px;
	left:50%;
	background:white;
	margin: 0 auto;
	display: block;
	transform: translateX(-50%);
}

.clip-circle-menu {
  	clip-path: circle(60px at center);
  	position:relative;
}

.user-info {
	color:#ec297b;
	text-align:center;
	margin-top:-15px;
}

.user-name {
	text-transform:uppercase;
}

/*====*/

#main {
	padding:0 !important;
	min-height:100vh;
	background-size:cover
}

.item-container {
	text-align:center;
}

.item-container span[class^="icon-"] {
	font-size:5em;
	color:#ec297b;
	margin-bottom:35px;
	display:block;
}

.item-container p {
	margin-bottom:30px;
}

.shortcuts-container {
	text-align:center;
	color:#FFFFFF;
	margin-bottom:60px;
}

.shortcuts-container:hover {
	cursor:pointer;
}

.shortcuts-container:hover h5 {
	text-decoration:underline;
}

.shortcuts-container span[class^="icon-"] {
	font-size:3em;
	color:#ec297b;
	margin-bottom:10px;
	display:block;
}

.studentModule {
	height:100vh;
	display:flex;
	flex-direction:column;
}

.studentModule .info {
	margin-top:auto;
	align-self:flex-start;
	padding:50px;
}

.nav-tabs {
	display:table;
	height:100%;
}

.nav-tabs > li {
	padding:0;
	display: table-cell;
	float: none;
	height: 100%;
}

.nav-tabs > li {
	color:#FFFFFF;
	background:#652d8f;
	margin:0;
	border-radius:0;
	border:solid 1px white;
	height: 100%;
	display: table-cell;
}

.nav-tabs > li {
	background:#652d8f;
	text-decoration:underline;
}

.nav-tabs > li.active,
.nav-tabs > li.active:hover,
.nav-tabs > li.active:focus {
	background:#ec297b;
	color:#FFF;
	border:solid 1px white;
}

.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
	background:none;
	color:#FFF;
	border:none;
	display:block;
	height:100%;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	background:none;
	color:#FFF;
	border:none;
}

.tab-content {
	background:#652d8f;
	color:#FFFFFF;
}

.tab-text {
	padding:30px;
	display: table-cell;
	float: none;
}

.tab-image {
	background:url(../img/tab-bg_pre-medios.png);
	background-size:cover;
	height:100%;
	display: table-cell;
	float: none;
	width: 50%;
}

form#contact {
	color:#000000;
	border-radius:5px;
	background:#FFFFFF;
	padding:15px;
}

/*====*/

.blog-hightlight .post-title {
	color:#ec297b;
}

.blog-hightlight .post-info {
	margin-top:10px;
	color:#B4B4B4;
	font-size:0.8em;
}

.blog-hightlight .post-text {
	margin-bottom:30px;
}

.blog-post {
	height:220px;
	color:#FFFFFF;
	display:table;
	background:linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
}

.blog-post:hover {
	cursor:pointer;
	color:#ec297b;
}

.blog-post .post-content {
	vertical-align:bottom;
	display:table-cell;
	padding-bottom:10px;
}

.blog-post .post-info {
	color:#B4B4B4;
	font-size:0.8em;
}

/*====*/

#footer {
	background:#2c3c4c;
	color:#f3f3f3;
	font-size:0.9em;
	padding:30px 15px 10px 15px;
	text-align:center;
	height:80px;
}

/*====*/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

	button {
		font-size:1.2em;
	}

	.banner {
		padding:30px 30px;
		height:auto;
	}

	#main {
		padding-top:40px !important;
	}

	.videoWrapper {
		position: relative;
		padding-bottom: 56.6% !important; /* 16:9 */
		height: 0;
	}

	.header {
		height:60px
	}

	.header h3 {
		font-size:0.9em;
	}

	.header .menu {
		font-size:0.5em;
	}

	.header .menu li {
		margin:0 5px;
	}

	.header #idioma {
		width:43px;
	}

	.category-container {
		width:70px;
	}

	.category-container span[class^="icon-"] {
		font-size:1.1em;
	}

	.category-container h5 {
		font-size:0.9em;
	}

	.search-words {
		width:150px !important;
	}

	.search-city {
		width:150px !important;
	}

	.result.user .result-info {
		width:calc(100% - 90px);
	}

	.result .result-image.user {
		width:80px;
		height:80px;
	}
}


.videoWrapper {
	position: relative;
	padding-bottom: 56.30%; /* 16:9 */
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}